.color
    background-color: primaryGreen;

.color__inner
    padding: 120px 0;

.color__title
    color: #fff;

.color__item
    display: inline-block;
    max-width 31.6%;
    padding-bottom: 41px;
    vertical-align: top;
    &:not(:last-child)
        margin-right: 2.5%;

.color-item__title
    margin-bottom: 16px;
    font: 13px / 24px openSemiBold;
    color: #fff;

.color-item__text
    color: #fff;