.detail__inner
    @media screen and ( max-width 480px )
        padding: 15% 0;
    @media screen and ( orientation landscape ) and ( max-width 840px )
        padding: 5% 0;

.detail__item
    @media screen and ( max-width 540px )
        max-width 100%;
        padding-bottom: 10%;
        &:not(:last-child)
            margin: 0;
    @media screen and ( orientation landscape ) and ( max-width 700px )
        max-width 100%;
        padding-bottom: 5%;
        &:not(:last-child)
            margin: 0;