.detail__inner
    padding: 92px 0;

.detail__item
    display: inline-block;
    max-width 23%;
    padding-bottom: 63px;
    vertical-align: top;
    &:not(:last-child)
        margin-right: 2.5%;
    h3
        margin-bottom: 16px;
        font: 13px / 24px openSemiBold;