.footer
    background-color: primaryBlue;

.footer__inner
    padding: 124px 0;

.footer__row::after
    content: '';
    display: block;
    clear: both;

.footer__col
    float: left;
    width: 50%;
    &:last-child
        padding-left: 9.7%;

.footer__some
    margin-bottom: 63px;
    h6
        margin-bottom: 16px;
        font: 13px / 24px openSemiBold;
        color: #fff;

.footer__text
    color: #fff;

.footer__list
    display: inline-block;
    padding-bottom: 26px;
    &:not(:last-child)
        margin-right: 89px;
    h6
        @extend .footer__some h6;

.footer__link
    color: #fff;