.power
    background: url( 'image/power/powerBg.png' ) no-repeat center / cover;

.power__inner
    padding: 24.5% 0 7.2% 0;

.power__cont
    max-width 520px;

.power__title
    margin-bottom: 22px;
    font-size: 60px;
    line-height: 72px;
    color: #fff;

.power__text
    padding-right: 32px;
    margin-bottom: 16px;

.power__text 
    color: #fff;

.power__options
    display: inline-block;
    font-family: openBold;
    color: #fff;
    & > i 
        display: inline-block;
        margin-left: 20px;