.form
    h6    
        @extend .footer__some h6;
        margin-bottom: 23px;

.form__helper
    white-space: nowrap;

.form__input
    width: 85%;
    padding: 20px;
    border none;

.placeholder
    color: #aaa;

.form__submit
    padding: 20px 28px 20px 28px;
    background-color: primaryGreen;
    border: none;
    cursor: pointer;
    & > i 
        color: #fff;

.form__nb
    max-width: 350px;
    margin-top: 14px;
    font-size: 12px;
    line-height: 18px;
    color: #57697f;