doctype

html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name= 'viewport', content= 'width=device-width, initial-scale=1.0')
        title take
        meta(name='description', content='take website free templates')
        link(rel='stylesheet', href='../bower_components/normalize-css/normalize.css')
        link(rel="stylesheet", href="styles.css")
        link(rel="stylesheet", href="lib/font-awesome-4.7.0/css/font-awesome.min.css")
    head
body.page
    block hero
        section.hero.section
            .hero__inner
                article.container
                    .hero__header
                        h1.logo 
                            img(src="image/header/Shape.png", alt="logo pic")
                            span take
                    .hero__main
                        .hero__helper
                            h2.section__title.hero__title Picture perfect
                            .hero__text
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    img(src="image/hero/iphone.png", alt="iphone pic").hero__pic_iphone

    block something
        section.some.section
            .some__inner
                article.container
                    h2.section__title.some__title Start something new
                    .some__text
                        p 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            | sed do eiusmod tempor incididunt ut 
                            | labore et dolore magna aliqua. Ut enim ad minim veniam, 
                            | quis nostrud exercitation ullamco laboris nisi ut 
                            | aliquip ex ea commodo consequat. 
                        p
                            | Duis aute irure dolor in reprehenderit in voluptate velit 
                            |esse cillum dolore eu fugiat nulla pariatur. 
                            | Excepteur sint occaecat cupidatat non proident, 
                            | sunt in culpa qui officia deserunt mollit anim id est laborum. 
                            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                            | accusantium doloremque laudantium, 
                            | totam rem aperiam.
                        p
                            | eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae 
                            | vitae dicta sunt explicabo. 
                            | Nemo enim ipsam voluptatem quia voluptas sit 
                            | aspernatur aut odit aut fugit, 
                            | sed quia consequuntur magni dolores eos qui ratione voluptatem.
                    .some__text
                        p
                            | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                            | sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        p
                            | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
                            | consectetur, adipisci velit, 
                            | sed quia non numquam eius modi tempora incidunt ut labore et dolore 
                            | magnam aliquam quaerat voluptatem.
                article.some__box.some-box    
                    ul.some-box__table
                        li.some-box__cell.some-box__cell_small
                            h3.some-box__title Design quality
                            .some-box__text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                | sed do eiusmod tempor incididunt ut adipisicing. 
                            a(href="#").some-box__link Find Out more 
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        li.some-box__cell.some-box__cell.some-box__cell_small
                            h3.some-box__title Build to last
                            .some-box__text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                | sed do eiusmod tempor incididunt ut adipisicing.
                            a(href="#").some-box__link Find Out more
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        li.some-box__cell.some-box__cell.some-box__cell_small
                            h3.some-box__title Our cliets
                            .some-box__text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                | sed do eiusmod tempor incididunt ut adipisicing.
                            a(href="#").some-box__link Get insights
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        li.some-box__cell.some-box__cell.some-box__cell_small
                            h3.some-box__title How to shoo great
                            .some-box__text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                | sed do eiusmod tempor incididunt ut adipisicing.
                            a(href="#").some-box__link Find Out more
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        li.some-box__cell.some-box__cell.some-box__cell_large
                            h3.some-box__title Sign up &amp; see why
                            .some-box__text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                | sed do eiusmod tempor incididunt ut adipisicing.
                            a(href="#").some-box__link Get started Now   
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        li.some-box__cell.some-box__cell.some-box__cell_small
                            h3.some-box__title Perfect pictures
                            .some-box__text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                | sed do eiusmod tempor incididunt ut adipisicing.
                            a(href="#").some-box__link Find Out more                 
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        li.some-box__cell.some-box__cell.some-box__cell_small
                            h3.some-box__title Start something new
                            .some-box__text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                | sed do eiusmod tempor incididunt ut adipisicing.
                            a(href="#").some-box__link Get started Now
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    
    block details
        section.detail.section
            .detail__inner
                article.container
                    h2.section__title.detail__title A look at the details
                    ul.detail__list
                        li.detail__item.detail-item
                            h3.detail-item__title Web based
                            .detail-item__text
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam, 
                                    | quis nostrud exercitation ullamco 
                                    | laboris nisi ut aliquip ex ea commodo consequat. 
                        li.detail__item.detail-item
                            h3.detail-item__title Perfomance
                            .detail-item__text
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam, 
                                    | quis nostrud exercitation ullamco 
                                    | laboris nisi ut aliquip ex ea commodo consequat. 
                        li.detail__item.detail-item
                            h3.detail-item__title Clultral
                            .detail-item__text
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam, 
                                    | quis nostrud exercitation ullamco 
                                    | laboris nisi ut aliquip ex ea commodo consequat. 
                        li.detail__item.detail-item
                            h3.detail-item__title Sustainability
                            .detail-item__text
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam, 
                                    | quis nostrud exercitation ullamco 
                                    | laboris nisi ut aliquip ex ea commodo consequat. 
    block power
        section.power.section
            .power__inner
                article.container
                    .power__cont
                        h2.section__title.power__title
                            | More power behind every pixel.
                        .power__text
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                | Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                | laboris nisi ut aliquip ex ea commodo consequat. 
                        a(href="javascript:void(0);").power__options See the options
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    block color
        section.color.section
            .color__inner
                article.container
                    h2.section__title.color__title Reasons to get onboard
                    ul.color__list
                        li.color__item.color-item
                            h3.color-item__title Web based
                            .color-item__text
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                    | laboris nisi ut aliquip ex ea commodo consequat.
                        li.color__item.color-item
                            h3.color-item__title Team login
                            .color-item__text
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                    | laboris nisi ut aliquip ex ea commodo consequat.
                        li.color__item.color-item
                            h3.color-item__title Great support
                            .color-item__text
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                    | laboris nisi ut aliquip ex ea commodo consequat.
    
    block buy
        section.buy.section
            .buy__inner
                article.container
                    .buy__cont
                        .buy__prod.buy-prod
                            span.buy-prod__meta Legacy
                            h4.buy-prod__title
                                | Go it solo
                            .buy-prod__desc
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam,
                                    | quis nostrud exercitation ullamco
                            a(href="javascript:void(0);").buy-prod__btn Buy now $9
                            .buy-prod__platform
                                <i class="fa fa-apple" aria-hidden="true"></i>
                                <i class="fa fa-windows" aria-hidden="true"></i>
                        .buy__prod.buy-prod.buy__must-popular
                            span.buy-prod__meta Most Popular
                            h4.buy-prod__title
                                | Team Plan
                            .buy-prod__desc
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam,
                                    | quis nostrud exercitation ullamco
                            a(href="javascript:void(0);").buy-prod__btn Buy now $18
                            .buy-prod__platform
                                <i class="fa fa-apple" aria-hidden="true"></i>
                                <i class="fa fa-windows" aria-hidden="true"></i>
                    
    block footer
        footer.footer
            .footer__inner
                article.container
                    .footer__row
                        .footer__col
                            .footer__something.footer-something
                                h6.footer-something__title Get in touch
                                .footer-something__text
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam, 
                                    | quis nostrud exercitation ullamco laboris 
                                    | nisi ut aliquip ex ea commodo consequat. 
                            .footer__lists
                                ul.footer__list.footer-list
                                    h6.footer-list__title Resources
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link Tour
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link Customers
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link Pricing and Plans
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link New Features
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link Education
                                ul.footer__list
                                    h6.footer-list__title Features
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link Tour
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link Customers
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link Pricing and Plans
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link New Freatures
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link Education
                                ul.footer__list
                                    h6.footer-list__title How To's
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link Tour
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link Customers
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link Pricing and Plans
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link New Features
                                    li.footer__item
                                        a(href="javascript:void(0);").footer__link Education
                        .footer__col
                            form.footer__form.footer-form
                                .footer-form__helper
                                    h6.footer-form__title Stay in touch
                                    input.footer-form__input
                                    button(type="submit").footer-form__submit
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                .footer-form__nb
                                    | We don’t send spam. Actually, who are we kiding, we’ll spam 
                                    | the shit out of you’r inbox

script(src='main.js')