.buy__inner
    @media screen and ( max-width 480px )
        padding: 15% 0;
    @media screen and ( orientation landscape ) and ( max-width 840px )
        padding: 5% 0;

.buy__prod
    @media screen and ( max-width 480px )
        padding: 9% 7% 11% 5%;

.buy-prod__title
    @media screen and ( max-width 345px )
        font-size: 24px;
        line-height: 30px;