.footer__col
    @media screen and ( max-width 800px )
        width 100%;
    &:last-child
        @media screen and ( max-width 800px )
            padding-left: 0;
    &:not(:last-child)
        margin-bottom: 32px;

