.footer__inner
    @media screen and ( max-width 480px )
        padding: 15% 0;
    @media screen and ( orientation landscape ) and ( max-width 840px )
        padding: 5% 0;

.footer__form
    @media screen and ( max-width 540px )
        max-width 80%;
        margin: 0 auto;
    @media screen and ( max-width 400px )
        max-width 95%;

.footer-form__helper
    @media screen and ( max-width 400px )
        white-space: initial;
        text-align: center;

.footer-form__input
    @media screen and ( max-width 540px )
        width: 83.5%;
    @media screen and ( max-width 400px )
        width: 100%;
        margin-bottom: 10%;

.footer-form__submit
    @media screen and ( max-width 400px )
        padding: 20px 38px 20px 38px;

.footer-form__nb
    @media screen and ( max-width 400px )
        margin-top: 28px;