.hero
    position: relative;
    background: url( 'image/hero/heroBg.png' ) no-repeat bottom / cover;

.hero__top
    padding: 56px 0;

.hero__main
    padding: 24.5% 0 32.3% 0;

.hero__helper
    max-width 470px;

.hero__title
    margin-bottom: 24px;
    font-size: 60px;
    color: #fff;

.hero__text
    font-family: openLight;
    color: #fff;

.hero__pic_iphone
    position: absolute;
    bottom: -27.5%;
    right: 15%;
    @media screen and ( max-width 1024px )
        right: 0;