.buy__inner
    padding: 104px 0 145px 0;
    background-color: lightGrey;

.buy__prod
    max-width 48.6%;
    display: inline-block;
    padding: 45px 72px 52px 54px;
    &:not(:last-child)
        margin-right: 2.5%;

.buy__prod--popular
    background-color: #fff;

.buy__meta
    display: inline-block;
    padding: 7px 14px 8px 14px;
    font: 11px / 1 openBold;
    text-transform: uppercase;
    color: #fff;
    background-color: #e1e1e1;
    border-radius: 5px;

.buy__prod--popular
    .buy__meta
        background-color: primaryMagenta;

.buy__prod h4
    margin: 15px 0;
    font: 30px / 36px openLight;

.buy__desc
    margin-bottom: 24px;
    color: gentlyBlue;

.buy__btn
    display: inline-block;
    padding: 12px 27px 12px 27px;
    font: 13px / 22px openBold;
    text-transform: uppercase;
    word-spacing: 5px;
    color: #fff;
    background-color: primaryGreen;
    border-radius: 5px;

.buy__platform
    padding: 0 4px;
    margin-top: 20px;
    & > i 
        display: inline-block;
        font-size: 24px;
        color: primaryGrey;
        &:not(:last-child)
            margin-right: 12px;