.power__inner
    @media screen and ( max-width 480px )
        padding-bottom: 13.2%;

.power__title
    @media screen and ( max-width 540px )
        font-size: 46px;
        line-height: 68px;
    @media screen and ( max-width 480px )
        font-size: 32px;
        line-height: 42px;
    @media screen and ( max-width 345px )
        font-size: 28px;
        line-height: 38px;