.hero
    @media screen and ( max-width 800px )
        height: 100vh;

.hero__top
    @media screen and ( max-width 800px )
        padding: 7% 0;

.hero__main
    @media screen and ( max-width 800px )
        padding: 85% 0 10% 0;

.hero__pic_iphone
    @media( max-width 924px )
        display: none;