.hero__top
    @media screen and ( orientation landscape ) and ( max-width 840px )
        padding: 4% 0;

.hero__main
    @media screen and ( max-height 520px  )
        padding-top: 65%;
    @media screen and ( orientation landscape ) and ( max-width 840px )
        padding: 20% 0;
    @media screen and ( orientation landscape ) and ( max-width 700px )
        padding: 20% 0 0 0;

.hero__title
    @media screen and ( max-width 540px )
        margin-bottom: 3%;
        font-size: 42px;
    @media screen and ( max-width 345px )
        font-size: 38px;
        