.some__inner
    @media screen and ( max-width 480px )
        padding-top: 15%;

.some__title
    @media screen and ( max-width 540px )
        margin-bottom: 15%;

// .some-box__table
//     @media screen and ( max-width 540px )
//         transform: translateX(35%);

.some-box__cell_small
    @media screen and ( max-width 540px )
        max-width: 100%;

.some-box__title
    @media screen and ( max-width 480px )
        margin-bottom: 5%;
        font-size: 24px;

.some-box__text
    @media screen and ( max-width 480px )
        margin-bottom: 11%;