.some-box__cell_small
    @media screen and ( max-width 1024px )
        max-width: 33.3%;
        padding: 40px 10px 55px 10px;

.some-box__cell_large
    @media screen and ( max-width 1024px )
        max-width: 66.7%;
        padding: 40px 10% 55px 10px;