.some__text
    @media screen and ( max-width 800px )
        width: 100%;

.some__text:last-child
    @media screen and ( max-width 924px )
        margin-top: 0;
    @media screen and ( max-width 800px )
        padding-left: 0;

.some-box__cell_small
    @media screen and ( max-width 1024px )
        max-width: 33.3%;
        padding: 40px 10px 55px 10px;
    @media screen and ( max-width 800px )
        max-width 50%;

.some-box__cell_large
    @media screen and ( max-width 1024px )
        max-width: 66.7%;
        padding: 40px 10% 55px 10px;
    @media screen and ( max-width 800px )
        max-width 100%
        padding-right: 14%;