openLight = 'fontOpenSansLight';
openRegular = 'fontOpenSansRegular'; 
openBold = 'fontOpenSansBold';
openSemiBold = 'fontOpenSansSemiBold';
mainFont = openRegular;

primaryGrey = #c5c5c5;
primaryGreen = #82ca9c;
primaryBlue = #192431;
primaryMagenta = #bd8cbf;

lightGrey = #f6f7fa;

gentlyBlue = #8297a7;