openLight = 'fontOpenSansLight', sans-serif, arial;
openRegular = 'fontOpenSansRegular', sans-serif, arial; 
openBold = 'fontOpenSansBold', sans-serif, arial;
openSemiBold = 'fontOpenSansSemiBold', sans-serif, arial;
merriWeather = 'fontMerriWeatherItalic', sans-serif, arial;
mainFont = openRegular;

primaryGrey = #c5c5c5;
primaryGreen = #82ca9c;
primaryBlue = #192431;
primaryPeachy = #f5989d;
primaryMagenta = #bd8cbf;

lightGrey = #f6f7fa;

gentlyBlue = #8297a7;